* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

.title {
  background: #333333;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: serif;
  font-size: 2rem;
  padding: 1.4rem;
  color: azure;
}

.intro {
  text-align: center;
  height: 300px;
  padding: 30px;
}

.intro .text {
  width: 400px;
}

.intro img {
  width: 400px;
}

@media screen and (min-width: 732px) {
  .intro {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .intro .text {
    margin-right: 20px;
  }
}
