/* Global style */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

/* Header */

nav {
  background: #333333;
  display: flex;
  justify-content: center;
}

nav h1 {
  font-family: serif;
  font-size: 2rem;
  padding: 1.4rem;
  color: azure;
}

/* Intro Section */
.banner {
  text-align: center;
  display: flex;
  flex-flow: column-reverse;
  line-height: 1.3;
}
.banner h2 {
  font-size: 1.8rem;
}
.banner p {
  padding: 5px 10px;
}

.banner img {
  width: 95vw;
}

/* Main Section */

.main {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.main img,
.main p {
  width: 70%;
}
.main p {
  margin: 10px auto;
}

/* Media Queries Section */

@media screen and (min-width: 732px) {
  .banner {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex: 1;
  }

  .banner .text {
    margin-right: 20px;
    width: 400px;
  }
  .banner .img img {
    width: 400px;
    margin-top: 20px;
  }
  /* Main section */

  .main {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .main .content {
    width: 400px;
    margin: 20px;
  }

  .main p,
  .main img {
    width: 250px;
  }
}
